<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>YouFind</title>
	<meta name="description" content="YouFind HomePage" />
	<meta name="keywords" content="YouFind, Video Search, Image Search" />
	<link rel="shortcut icon" href="../favicon.ico">
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/fancyInput/fancyInput.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<!-- JQuery -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<!-- Fancy Input -->
	<script src="/vendor/fancyInput/fancyInput.js"></script>
	<!-- Google Api Handler -->
	<script src="/javascripts/googleApi.js"></script>
	<!-- JavaScript Google Client Library -->
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</head>
<body>
	<div class="container">
		<button type="button" class="button round-button settings-button youfind-modal-trigger"
						data-modal="settingsModal" id="settingsButton">
			<i class="fa fa-gear"></i>
		</button>
		<button type="button" id="profileButton" class="button round-button login-button">
			<i class="fa fa-google-plus"></i>
		</button>
		<nav class="youfind-header" id="youfind-nav-bar">
			<a class="youfind-logo" href="/">
				<img></img>
			</a>
			<h1 class="youfind-title">YouFind</h1>
			<p class="youfind-description">Best way to visually find your videos!</p>
			<div class="text-field-1">
				<!-- Fancy Input -->
				<div>
					<input type='text' id="searchTextField" />
				</div><!--
			 --><span><button type="button" class="button image-button youfind-modal-trigger" 
			 									data-modal="imageModal" id="imageButton">
			 		<i class="fa fa-camera"></i>
			 	</button></span><!--
			 --><span><button type="button" class="button search-button">
			 		<i class="fa fa-search"></i>
				</button></span>
		 	</div>
		</nav>
		<p id="imageUrl"><%= imageUrl %></p>
		<div class="grid">
			
		</div>
		
		<div id="modalSets">
			<div class="youfind-modal video-modal" id="videoModal">
				<div class="youfind-modal-content">		
					<div id="youtube-api-player">
						<!-- IFrame to be appended -->
					</div>		
				</div>
			</div>

			<div class="youfind-modal" id="imageModal">
				<div class="youfind-modal-content">
					<header class="youfind-modal-header">
						<h3 class="youfind-modal-title"> Upload Image </h3>
						<button class="button youfind-modal-cancel">X</button>
					</header>
					<div>
						<p><b>Paste image URL:</b></p>
						<input type='text' id="imageURLTextField" />
						<br>
						<p><b>Or upload an image:</b></p>
						<button type="button" class="button upload-button">
							<i class="fa fa-upload"></i> Upload
							<input 	type='file' id="imageFileChooser" 
											accept="image/gif, image/jpeg, image/jpg, image/png" />
						</button>
						<button class="button youfind-modal-accept"><i></i>Accept</button>
					</div>
				</div>
			</div>
			<div class="youfind-modal" id="settingsModal">
				<div class="youfind-modal-content">
					<header class="youfind-modal-header">
						<h3 class="youfind-modal-title"> Settings </h3>
						<button class="button youfind-modal-cancel">X</button>
					</header>
					<div>
						<p><u>Ranking Order:</u></p>
						<input 	type="radio" name="order" id ="relevance" 
										value="relevance" checked="checked" /> 
						<label for="relevance">Relevance</label>
						<input 	type="radio" name="order" 
										id="rating"value="rating" /> 
						<label for="rating">Rating</label>
						<input 	type="radio" name="order" 
										id="date" value="date" />
						<label for="date">Date</label>
						<input 	type="radio" name="order" 
										id="title" value="title" /> 
						<label for="title">Title</label>
						<input 	type="radio" name="order" 
										id="viewCount" value="viewCount" /> 
						<label for="viewCount">Views</label>
						<p><u>Ranking Order:</u></p>
						<input 	type="radio" name="feedback" id ="auto" 
										value="auto" checked="checked" /> 
						<label for="auto">Auto-search after every feedback</label>
						<input 	type="radio" name="feedback" 
										id="manual" value="manual" /> 
						<label for="manual">Manual-search after feedbacks</label>
					</div>
				</div>
			</div>
			<div class="youfind-overlay"></div>
		</div>
	</div>
	<script>
		$('#searchTextField').fancyInput();
	</script>
	<!-- SWFObject -->
	<script src="/vendor/swfobject/swfobject/src/swfobject.js"></script>
	<!-- Own JS Files -->
	<script src="/javascripts/modal.js"></script>
	<script src="/javascripts/main.js"></script>
</body>

</html>